---
http_interactions:
- request:
    method: get
    uri: http://developer.nrel.gov/api/alt-fuel-stations/v1?api_key=MPFwlnE3uvUCOCN5rF4dswSJmYSbL3MY7KlhdfgA&zip=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Last-Modified:
      - Mon, 25 Jul 2016 17:20:28 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><response><station-locator-url>http://www.afdc.energy.gov/afdc/locator/stations/</station-locator-url><total-results>1</total-results><station-counts>
          <total>4</total>
          <fuels>
            <E85>
              <total>0</total>
            </E85>
            <ELEC>
              <total>4</total>
              <stations>
                <total>1</total>
              </stations>
            </ELEC>
            <HY>
              <total>0</total>
            </HY>
            <LNG>
              <total>0</total>
            </LNG>
            <BD>
              <total>0</total>
            </BD>
            <CNG>
              <total>0</total>
            </CNG>
            <LPG>
              <total>0</total>
            </LPG>
          </fuels>
        </station-counts>
        <fuel-stations type="array"><fuel-station><access-days-time>24 hours daily</access-days-time><cards-accepted nil="true"/><date-last-confirmed>2016-07-25</date-last-confirmed><expected-date nil="true"/><fuel-type-code>ELEC</fuel-type-code><id>62140</id><groups-with-access-code>Public</groups-with-access-code><open-date nil="true"/><owner-type-code nil="true"/><status-code>E</status-code><station-name>CADACHARGEPOINT</station-name><station-phone>888-758-4389</station-phone><updated-at>2016-07-25 08:30:08 UTC</updated-at><geocode-status>200-9</geocode-status><latitude>39.7232935</latitude><longitude>-104.9841662</longitude><city>Denver</city><intersection-directions>CADA FRONT 1
        CADA CARPORT 1</intersection-directions><plus4 nil="true"/><state>CO</state><street-address>290 E Speer Blvd</street-address><zip>80203</zip><bd-blends nil="true"/><e85-blender-pump nil="true"/><ev-connector-types><ev-connector-type>J1772</ev-connector-type></ev-connector-types><ev-dc-fast-num nil="true"/><ev-level1-evse-num nil="true"/><ev-level2-evse-num>4</ev-level2-evse-num><ev-network>ChargePoint Network</ev-network><ev-network-web>http://www.mychargepoint.net/</ev-network-web><ev-other-evse nil="true"/><hy-status-link nil="true"/><lpg-primary nil="true"/><ng-fill-type-code nil="true"/><ng-psi nil="true"/><ng-vehicle-class nil="true"/><ev-network-ids><posts><post>1:100547</post><post>1:102063</post></posts></ev-network-ids></fuel-station></fuel-stations></response>
  recorded_at: Mon, 25 Jul 2016 17:20:28 GMT
recorded_with: VCR 3.0.3
